<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	{% block stylesheets %}{% endblock %}
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
</head>

<body>
	<!-- Navbar -->
	<div>
		<!-- Navbar top -->
		<div class="sticky-top">
			<nav class="navbar navbar-light bg-main align-items-center">
				<div class="container-fluid">
					<div>
						<a class="d-md-none d-inline p-2 navbar-brand text-center" href="{{ path('app_main') }}">
							<img height="auto" width="50px" src="{{asset('logo.png')}}" alt="">
						</a>
						<div class="btn d-none d-md-inline" onClick="handleOpenDrawer()">
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M22.5 14.5H5" stroke="#5EBCEB" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
								<path d="M25 7.5H5" stroke="#5EBCEB" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
								<path d="M25 21.5H5" stroke="#5EBCEB" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
							</svg>
						</div>
						{# WELCOME MESSAGE #}
						<span class="fw-bold d-none d-sm-inline">
							<span class="text-white">Bienvenue !</span> <span class="text-dark-pink">John Smith</span>
						</span>
					</div>
					{# USER DROPDOWN #}
					{% if app.user %}
					<div class="dropup-center dropdown">
						<button style="border-radius: 90px;"
							class="d-flex text-dark-pink align-items-center bg-white btn btn-sm btn-secondary dropdown-toggle"
							type="button" data-bs-toggle="dropdown" aria-expanded="false">
							{% if app.user.avatarPath %}
							<img class="me-2" width="28" height="28" style="border-radius: 90%; "
								src="{{ asset('images/avatars/' ~ app.user.avatarPath) }}"
								alt="Avatar de {{ app.user.pseudo }}">
							{% else %}
							<img class="me-2" width="28" height="28" style="border-radius: 90%;"
                			src="https://png.pngtree.com/png-vector/20200614/ourlarge/pngtree-businessman-user-avatar-character-vector-illustration-png-image_2242909.jpg"
                			alt="Default Avatar">
        					{% endif %}
							<span class="me-2 text-dark fw-bold">{{ app.user.pseudo }}</span>
						</button>
						<ul class="dropdown-menu" style="left: auto; right: 0;">
							<li><a class="dropdown-item" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Profil</a></li>
							{% if app.user.roles[0] == "ROLE_ADMIN" %}
							<li><a class="dropdown-item" href="{{ path('app_admin') }}">Administration</a></li>
							{% endif %}
							<li><a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a></li>
						</ul>
					</div>
					{% else %}
					<a class="btn btn-second" href="{{ path('app_register') }}">M'enregistrer</a>
					<a class="btn btn-first" href="{{ path('app_login') }}">Me connecter</a>
					{% endif %}
				</div>
			</nav>
		</div>
		<!-- Sidebar -->
		<div class="d-flex">
			<nav class="d-none d-md-block bg-main sidebar navbar sticky-top" style="width: max-content; top: 53px; bottom: 0; height: 100%;">
					<div class="text-dark-pink mb-3" style="min-height: 53px; max-height: 53px;">
						<a class="d-block p-2 navbar-brand text-center" href="#">
							<img height="auto" width="50px" src="{{asset('logo.png')}}" alt="">
						</a>
					</div>
					<ul class="nav flex-column p-0">
						<li class="nav-item">
							<a class="nav-link active" href="{{ path('app_main') }}">
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M15.4167 2.58333V4.41667H11.75V2.58333H15.4167ZM6.25 2.58333V8.08333H2.58333V2.58333H6.25ZM15.4167 9.91667V15.4167H11.75V9.91667H15.4167ZM6.25 13.5833V15.4167H2.58333V13.5833H6.25ZM17.25 0.75H9.91667V6.25H17.25V0.75ZM8.08333 0.75H0.75V9.91667H8.08333V0.75ZM17.25 8.08333H9.91667V17.25H17.25V8.08333ZM8.08333 11.75H0.75V17.25H8.08333V11.75Z"
										fill="none" />
								</svg>
								<span>Dashboard</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_user_index') }}">
								<svg width="20" height="14" viewBox="0 0 20 14" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M7.25 8.60421C5.105 8.60421 0.833332 9.67671 0.833332 11.8125V13.4167H13.6667V11.8125C13.6667 9.67671 9.395 8.60421 7.25 8.60421ZM2.97833 11.5834C3.74833 11.0517 5.60917 10.4375 7.25 10.4375C8.89083 10.4375 10.7517 11.0517 11.5217 11.5834H2.97833ZM7.25 7.00004C9.01917 7.00004 10.4583 5.56087 10.4583 3.79171C10.4583 2.02254 9.01917 0.583374 7.25 0.583374C5.48083 0.583374 4.04167 2.02254 4.04167 3.79171C4.04167 5.56087 5.48083 7.00004 7.25 7.00004ZM7.25 2.41671C8.01083 2.41671 8.625 3.03087 8.625 3.79171C8.625 4.55254 8.01083 5.16671 7.25 5.16671C6.48917 5.16671 5.875 4.55254 5.875 3.79171C5.875 3.03087 6.48917 2.41671 7.25 2.41671ZM13.7033 8.65921C14.7667 9.42921 15.5 10.4559 15.5 11.8125V13.4167H19.1667V11.8125C19.1667 9.96087 15.9583 8.90671 13.7033 8.65921ZM12.75 7.00004C14.5192 7.00004 15.9583 5.56087 15.9583 3.79171C15.9583 2.02254 14.5192 0.583374 12.75 0.583374C12.255 0.583374 11.7967 0.702541 11.375 0.904207C11.9525 1.72004 12.2917 2.71921 12.2917 3.79171C12.2917 4.86421 11.9525 5.86337 11.375 6.67921C11.7967 6.88087 12.255 7.00004 12.75 7.00004Z"
										fill="none" />
								</svg>
								<span>Utilisateurs</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_tickets_index') }}">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M17.3333 0.833374H2.66667C1.65833 0.833374 0.833332 1.65837 0.833332 2.66671V19.1667L4.5 15.5H17.3333C18.3417 15.5 19.1667 14.675 19.1667 13.6667V2.66671C19.1667 1.65837 18.3417 0.833374 17.3333 0.833374ZM16.4167 13.6667H4.5L2.66667 15.5V3.58337C2.66667 3.07921 3.07917 2.66671 3.58333 2.66671H16.4167C16.9208 2.66671 17.3333 3.07921 17.3333 3.58337V12.75C17.3333 13.2542 16.9208 13.6667 16.4167 13.6667Z"
										fill="none" />
								</svg>
								<span>Mes Tickets</span>
							</a>
						</li>
												<li class="nav-item mt-5">
							<a class="nav-link" href="{{ path('app_stats') }}">
								<svg width="21" height="21" viewBox="0 0 21 21" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M17.9959 11.358C18.0371 11.0287 18.0679 10.6994 18.0679 10.3495C18.0679 9.99957 18.0371 9.67025 17.9959 9.34093L20.1673 7.64288C20.3629 7.48851 20.4143 7.21064 20.2908 6.98423L18.2326 3.42346C18.14 3.2588 17.965 3.16618 17.7798 3.16618C17.718 3.16618 17.6563 3.17648 17.6048 3.19706L15.0423 4.22618C14.5072 3.81453 13.9308 3.47492 13.3031 3.21764L12.912 0.49046C12.8811 0.24347 12.665 0.0582275 12.4077 0.0582275H8.29124C8.03396 0.0582275 7.81785 0.24347 7.78697 0.49046L7.39591 3.21764C6.76814 3.47492 6.19183 3.82482 5.65669 4.22618L3.09417 3.19706C3.03242 3.17648 2.97067 3.16618 2.90892 3.16618C2.73397 3.16618 2.55902 3.2588 2.4664 3.42346L0.40815 6.98423C0.274364 7.21064 0.336112 7.48851 0.531646 7.64288L2.7031 9.34093C2.66193 9.67025 2.63106 10.0099 2.63106 10.3495C2.63106 10.6891 2.66193 11.0287 2.7031 11.358L0.531646 13.0561C0.336112 13.2104 0.284655 13.4883 0.40815 13.7147L2.4664 17.2755C2.55902 17.4401 2.73397 17.5328 2.91921 17.5328C2.98096 17.5328 3.04271 17.5225 3.09417 17.5019L5.65669 16.4728C6.19183 16.8844 6.76814 17.224 7.39591 17.4813L7.78697 20.2085C7.81785 20.4555 8.03396 20.6407 8.29124 20.6407H12.4077C12.665 20.6407 12.8811 20.4555 12.912 20.2085L13.3031 17.4813C13.9308 17.224 14.5072 16.8741 15.0423 16.4728L17.6048 17.5019C17.6666 17.5225 17.7283 17.5328 17.7901 17.5328C17.965 17.5328 18.14 17.4401 18.2326 17.2755L20.2908 13.7147C20.4143 13.4883 20.3629 13.2104 20.1673 13.0561L17.9959 11.358ZM15.9582 9.59821C15.9994 9.91724 16.0097 10.1334 16.0097 10.3495C16.0097 10.5656 15.9891 10.792 15.9582 11.1007L15.8141 12.2636L16.7301 12.984L17.8415 13.8485L17.1211 15.0937L15.8141 14.5689L14.7439 14.1367L13.8176 14.8365C13.3751 15.1658 12.9532 15.4128 12.5312 15.5877L11.4404 16.0302L11.2757 17.1931L11.0699 18.5825H9.62911L9.43357 17.1931L9.26891 16.0302L8.17804 15.5877C7.73552 15.4025 7.32387 15.1658 6.91222 14.857L5.97571 14.1367L4.88484 14.5792L3.57785 15.104L2.85747 13.8588L3.96892 12.9943L4.88484 12.2739L4.74077 11.111C4.70989 10.792 4.68931 10.5553 4.68931 10.3495C4.68931 10.1436 4.70989 9.90695 4.74077 9.59821L4.88484 8.4353L3.96892 7.71491L2.85747 6.85045L3.57785 5.60521L4.88484 6.13006L5.95513 6.56229L6.88134 5.86249C7.32387 5.53317 7.74581 5.28618 8.16775 5.11123L9.25862 4.66871L9.42328 3.50579L9.62911 2.11648H11.0596L11.2551 3.50579L11.4198 4.66871L12.5107 5.11123C12.9532 5.29647 13.3648 5.53317 13.7765 5.84191L14.713 6.56229L15.8039 6.11977L17.1108 5.59492L17.8312 6.84016L16.7301 7.71491L15.8141 8.4353L15.9582 9.59821ZM10.3495 6.23297C8.07513 6.23297 6.233 8.07511 6.233 10.3495C6.233 12.6238 8.07513 14.466 10.3495 14.466C12.6239 14.466 14.466 12.6238 14.466 10.3495C14.466 8.07511 12.6239 6.23297 10.3495 6.23297ZM10.3495 12.4077C9.21746 12.4077 8.29124 11.4815 8.29124 10.3495C8.29124 9.21744 9.21746 8.29122 10.3495 8.29122C11.4815 8.29122 12.4077 9.21744 12.4077 10.3495C12.4077 11.4815 11.4815 12.4077 10.3495 12.4077Z"
										fill="white" />
								</svg>
								<span>Stats</span>
							</a>
						</li>
						{% if app.user.roles[0] == "ROLE_ADMIN" %}
						<li class="nav-item mt-5">
							<a class="nav-link" href="{{ path('app_admin') }}">
								<svg width="21" height="21" viewBox="0 0 21 21" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M17.9959 11.358C18.0371 11.0287 18.0679 10.6994 18.0679 10.3495C18.0679 9.99957 18.0371 9.67025 17.9959 9.34093L20.1673 7.64288C20.3629 7.48851 20.4143 7.21064 20.2908 6.98423L18.2326 3.42346C18.14 3.2588 17.965 3.16618 17.7798 3.16618C17.718 3.16618 17.6563 3.17648 17.6048 3.19706L15.0423 4.22618C14.5072 3.81453 13.9308 3.47492 13.3031 3.21764L12.912 0.49046C12.8811 0.24347 12.665 0.0582275 12.4077 0.0582275H8.29124C8.03396 0.0582275 7.81785 0.24347 7.78697 0.49046L7.39591 3.21764C6.76814 3.47492 6.19183 3.82482 5.65669 4.22618L3.09417 3.19706C3.03242 3.17648 2.97067 3.16618 2.90892 3.16618C2.73397 3.16618 2.55902 3.2588 2.4664 3.42346L0.40815 6.98423C0.274364 7.21064 0.336112 7.48851 0.531646 7.64288L2.7031 9.34093C2.66193 9.67025 2.63106 10.0099 2.63106 10.3495C2.63106 10.6891 2.66193 11.0287 2.7031 11.358L0.531646 13.0561C0.336112 13.2104 0.284655 13.4883 0.40815 13.7147L2.4664 17.2755C2.55902 17.4401 2.73397 17.5328 2.91921 17.5328C2.98096 17.5328 3.04271 17.5225 3.09417 17.5019L5.65669 16.4728C6.19183 16.8844 6.76814 17.224 7.39591 17.4813L7.78697 20.2085C7.81785 20.4555 8.03396 20.6407 8.29124 20.6407H12.4077C12.665 20.6407 12.8811 20.4555 12.912 20.2085L13.3031 17.4813C13.9308 17.224 14.5072 16.8741 15.0423 16.4728L17.6048 17.5019C17.6666 17.5225 17.7283 17.5328 17.7901 17.5328C17.965 17.5328 18.14 17.4401 18.2326 17.2755L20.2908 13.7147C20.4143 13.4883 20.3629 13.2104 20.1673 13.0561L17.9959 11.358ZM15.9582 9.59821C15.9994 9.91724 16.0097 10.1334 16.0097 10.3495C16.0097 10.5656 15.9891 10.792 15.9582 11.1007L15.8141 12.2636L16.7301 12.984L17.8415 13.8485L17.1211 15.0937L15.8141 14.5689L14.7439 14.1367L13.8176 14.8365C13.3751 15.1658 12.9532 15.4128 12.5312 15.5877L11.4404 16.0302L11.2757 17.1931L11.0699 18.5825H9.62911L9.43357 17.1931L9.26891 16.0302L8.17804 15.5877C7.73552 15.4025 7.32387 15.1658 6.91222 14.857L5.97571 14.1367L4.88484 14.5792L3.57785 15.104L2.85747 13.8588L3.96892 12.9943L4.88484 12.2739L4.74077 11.111C4.70989 10.792 4.68931 10.5553 4.68931 10.3495C4.68931 10.1436 4.70989 9.90695 4.74077 9.59821L4.88484 8.4353L3.96892 7.71491L2.85747 6.85045L3.57785 5.60521L4.88484 6.13006L5.95513 6.56229L6.88134 5.86249C7.32387 5.53317 7.74581 5.28618 8.16775 5.11123L9.25862 4.66871L9.42328 3.50579L9.62911 2.11648H11.0596L11.2551 3.50579L11.4198 4.66871L12.5107 5.11123C12.9532 5.29647 13.3648 5.53317 13.7765 5.84191L14.713 6.56229L15.8039 6.11977L17.1108 5.59492L17.8312 6.84016L16.7301 7.71491L15.8141 8.4353L15.9582 9.59821ZM10.3495 6.23297C8.07513 6.23297 6.233 8.07511 6.233 10.3495C6.233 12.6238 8.07513 14.466 10.3495 14.466C12.6239 14.466 14.466 12.6238 14.466 10.3495C14.466 8.07511 12.6239 6.23297 10.3495 6.23297ZM10.3495 12.4077C9.21746 12.4077 8.29124 11.4815 8.29124 10.3495C8.29124 9.21744 9.21746 8.29122 10.3495 8.29122C11.4815 8.29122 12.4077 9.21744 12.4077 10.3495C12.4077 11.4815 11.4815 12.4077 10.3495 12.4077Z"
										fill="white" />
								</svg>
								<span>Administration</span>
							</a>
						</li>
						{% endif %}
					</ul>
			</nav>
			<div class="w-100">
				<div class="p-4">
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>




		<!-- Navigation mobile -->
		<nav class="d-block d-md-none bg-main sidebar sidebar-mobile navbar fixed-bottom p-0">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" href="#">
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M15.4167 2.58333V4.41667H11.75V2.58333H15.4167ZM6.25 2.58333V8.08333H2.58333V2.58333H6.25ZM15.4167 9.91667V15.4167H11.75V9.91667H15.4167ZM6.25 13.5833V15.4167H2.58333V13.5833H6.25ZM17.25 0.75H9.91667V6.25H17.25V0.75ZM8.08333 0.75H0.75V9.91667H8.08333V0.75ZM17.25 8.08333H9.91667V17.25H17.25V8.08333ZM8.08333 11.75H0.75V17.25H8.08333V11.75Z"
								fill="none" />
						</svg>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<svg width="20" height="14" viewBox="0 0 20 14" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M7.25 8.60421C5.105 8.60421 0.833332 9.67671 0.833332 11.8125V13.4167H13.6667V11.8125C13.6667 9.67671 9.395 8.60421 7.25 8.60421ZM2.97833 11.5834C3.74833 11.0517 5.60917 10.4375 7.25 10.4375C8.89083 10.4375 10.7517 11.0517 11.5217 11.5834H2.97833ZM7.25 7.00004C9.01917 7.00004 10.4583 5.56087 10.4583 3.79171C10.4583 2.02254 9.01917 0.583374 7.25 0.583374C5.48083 0.583374 4.04167 2.02254 4.04167 3.79171C4.04167 5.56087 5.48083 7.00004 7.25 7.00004ZM7.25 2.41671C8.01083 2.41671 8.625 3.03087 8.625 3.79171C8.625 4.55254 8.01083 5.16671 7.25 5.16671C6.48917 5.16671 5.875 4.55254 5.875 3.79171C5.875 3.03087 6.48917 2.41671 7.25 2.41671ZM13.7033 8.65921C14.7667 9.42921 15.5 10.4559 15.5 11.8125V13.4167H19.1667V11.8125C19.1667 9.96087 15.9583 8.90671 13.7033 8.65921ZM12.75 7.00004C14.5192 7.00004 15.9583 5.56087 15.9583 3.79171C15.9583 2.02254 14.5192 0.583374 12.75 0.583374C12.255 0.583374 11.7967 0.702541 11.375 0.904207C11.9525 1.72004 12.2917 2.71921 12.2917 3.79171C12.2917 4.86421 11.9525 5.86337 11.375 6.67921C11.7967 6.88087 12.255 7.00004 12.75 7.00004Z"
								fill="none" />
						</svg>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M17.3333 0.833374H2.66667C1.65833 0.833374 0.833332 1.65837 0.833332 2.66671V19.1667L4.5 15.5H17.3333C18.3417 15.5 19.1667 14.675 19.1667 13.6667V2.66671C19.1667 1.65837 18.3417 0.833374 17.3333 0.833374ZM16.4167 13.6667H4.5L2.66667 15.5V3.58337C2.66667 3.07921 3.07917 2.66671 3.58333 2.66671H16.4167C16.9208 2.66671 17.3333 3.07921 17.3333 3.58337V12.75C17.3333 13.2542 16.9208 13.6667 16.4167 13.6667Z"
								fill="none" />
						</svg>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<svg width="21" height="21" viewBox="0 0 21 21" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M17.9959 11.358C18.0371 11.0287 18.0679 10.6994 18.0679 10.3495C18.0679 9.99957 18.0371 9.67025 17.9959 9.34093L20.1673 7.64288C20.3629 7.48851 20.4143 7.21064 20.2908 6.98423L18.2326 3.42346C18.14 3.2588 17.965 3.16618 17.7798 3.16618C17.718 3.16618 17.6563 3.17648 17.6048 3.19706L15.0423 4.22618C14.5072 3.81453 13.9308 3.47492 13.3031 3.21764L12.912 0.49046C12.8811 0.24347 12.665 0.0582275 12.4077 0.0582275H8.29124C8.03396 0.0582275 7.81785 0.24347 7.78697 0.49046L7.39591 3.21764C6.76814 3.47492 6.19183 3.82482 5.65669 4.22618L3.09417 3.19706C3.03242 3.17648 2.97067 3.16618 2.90892 3.16618C2.73397 3.16618 2.55902 3.2588 2.4664 3.42346L0.40815 6.98423C0.274364 7.21064 0.336112 7.48851 0.531646 7.64288L2.7031 9.34093C2.66193 9.67025 2.63106 10.0099 2.63106 10.3495C2.63106 10.6891 2.66193 11.0287 2.7031 11.358L0.531646 13.0561C0.336112 13.2104 0.284655 13.4883 0.40815 13.7147L2.4664 17.2755C2.55902 17.4401 2.73397 17.5328 2.91921 17.5328C2.98096 17.5328 3.04271 17.5225 3.09417 17.5019L5.65669 16.4728C6.19183 16.8844 6.76814 17.224 7.39591 17.4813L7.78697 20.2085C7.81785 20.4555 8.03396 20.6407 8.29124 20.6407H12.4077C12.665 20.6407 12.8811 20.4555 12.912 20.2085L13.3031 17.4813C13.9308 17.224 14.5072 16.8741 15.0423 16.4728L17.6048 17.5019C17.6666 17.5225 17.7283 17.5328 17.7901 17.5328C17.965 17.5328 18.14 17.4401 18.2326 17.2755L20.2908 13.7147C20.4143 13.4883 20.3629 13.2104 20.1673 13.0561L17.9959 11.358ZM15.9582 9.59821C15.9994 9.91724 16.0097 10.1334 16.0097 10.3495C16.0097 10.5656 15.9891 10.792 15.9582 11.1007L15.8141 12.2636L16.7301 12.984L17.8415 13.8485L17.1211 15.0937L15.8141 14.5689L14.7439 14.1367L13.8176 14.8365C13.3751 15.1658 12.9532 15.4128 12.5312 15.5877L11.4404 16.0302L11.2757 17.1931L11.0699 18.5825H9.62911L9.43357 17.1931L9.26891 16.0302L8.17804 15.5877C7.73552 15.4025 7.32387 15.1658 6.91222 14.857L5.97571 14.1367L4.88484 14.5792L3.57785 15.104L2.85747 13.8588L3.96892 12.9943L4.88484 12.2739L4.74077 11.111C4.70989 10.792 4.68931 10.5553 4.68931 10.3495C4.68931 10.1436 4.70989 9.90695 4.74077 9.59821L4.88484 8.4353L3.96892 7.71491L2.85747 6.85045L3.57785 5.60521L4.88484 6.13006L5.95513 6.56229L6.88134 5.86249C7.32387 5.53317 7.74581 5.28618 8.16775 5.11123L9.25862 4.66871L9.42328 3.50579L9.62911 2.11648H11.0596L11.2551 3.50579L11.4198 4.66871L12.5107 5.11123C12.9532 5.29647 13.3648 5.53317 13.7765 5.84191L14.713 6.56229L15.8039 6.11977L17.1108 5.59492L17.8312 6.84016L16.7301 7.71491L15.8141 8.4353L15.9582 9.59821ZM10.3495 6.23297C8.07513 6.23297 6.233 8.07511 6.233 10.3495C6.233 12.6238 8.07513 14.466 10.3495 14.466C12.6239 14.466 14.466 12.6238 14.466 10.3495C14.466 8.07511 12.6239 6.23297 10.3495 6.23297ZM10.3495 12.4077C9.21746 12.4077 8.29124 11.4815 8.29124 10.3495C8.29124 9.21744 9.21746 8.29122 10.3495 8.29122C11.4815 8.29122 12.4077 9.21744 12.4077 10.3495C12.4077 11.4815 11.4815 12.4077 10.3495 12.4077Z"
								fill="white" />
						</svg>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>


	<script>
		let isOpen = true;

		function handleOpenDrawer() {
			isOpen = !isOpen;
			const navLinks = document.querySelectorAll('.sidebar .nav-link span');
			const navbarBrand = document.querySelector('.navbar-brand');

			for (const navLink of navLinks) {
				isOpen ? navLink.classList.remove('d-none') : navLink.classList.add('d-none');
			}
			// isOpen ? navbarBrand.classList.remove('d-none') : navbarBrand.classList.add('d-none');
		}





	</script>

</body>

</html>