{{ form_start(form) }}
<div class="row">
    <div class="col-12 mb-2">
        {{ form_row(form.title) }}
    </div>
    <div class="col-12 col-md-6 mb-2">
        {{ form_row(form.categorie) }}
    </div>
    <div class="col-12 col-md-6 mb-2">
        {{ form_row(form.technologie) }}
    </div>
    <div class="col-12 mb-2">
        {{ form_row(form.description) }}
    </div>
    <div class="col-12 mb-2">
        {{ form_row(form.images) }}
    </div>
</div>
<div class="d-flex justify-content-end">
    <button class="btn-first btn">{{ button_label|default('Créer') }}</button>
</div>
{{ form_end(form) }}