{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
<div class="wrapper">
    <p class="page-title h1">Tickets</p>
    <div class="card border-0" style="border-radius: 0">
        <div class="card-body">
            <div class="d-flex align-items-center mb-3">
                <span class="rounded-circle dot-status" style="background-color: {{ ticket.status.color }}"></span>
                <h5 class="m-0 flex-grow-1">{{ ticket.title }}</h5>
                <span class="fs-6 fw-light">{{ ticket.createdAt|date('Y-m-d H:i') }}</span>
            </div>
            <p style="white-space: pre-line;">{{ticket.description}}</p>
            {% if ticket.images | length > 0 %}
            <div class="d-flex flex-wrap mb-3">
                {% for image in ticket.images %}
                    <img width="auto" height="300" src="{{asset('images/' ~ image.path )}}" alt="zrtr">
                {% endfor %}
            </div>
            {% endif %}
            <div class="d-flex align-items-center">
                <img src="{{ ticket.user.avatarPath ? asset('images/avatars/' ~ ticket.user.avatarPath) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkq3iQYVKllbdVHi-Lry0cRuKzGMMnWhEFCg&usqp=CAU' }}" alt="{{ ticket.user.pseudo }}" class="rounded-circle me-2" width="50" height="50">
                <span class="name">{{ticket.user.pseudo}}</span>
            </div>
            <div class="border-bottom py-3"></div>
            {% if ticket.comments | length > 0 %}
            <div class="mt-3">
                <p class="h5">Solution</p>
                {% for comment in ticket.comments %}
                <div class="mb-3">
                    {% include 'components/comment_card.html.twig' with {'comment': comment} %}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if ticket.status.id == 2 %}
            <div class="mt-5">
                <div class="card">
                    <div class="card-header bg-white border-0">
                        <p class="h4">Résolution du problème</p>
                    </div>
                    <div class="card-body">
                        {{ include('comments/_form.html.twig') }}
                    </div>
                </div>
            </div>
            {% elseif ticket.status.id == 1 %}
            <div class="mt-3">
                {% include('tickets/_take_ticket_form.html.twig') %}
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}